<?xml version="1.0"?>

<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.25" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="odom" />

		<!-- robot frame -->
		<param name="base_frame_id" type="string" value="odom" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="3.0" />

		<!-- maximum z height to consider -->
		
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/points_concat" />

		<!-- topic of loose global goal -->
		<param name="global_goal" value="/loosy_goosy" />

	
	</node>
</launch>
